body,html {
	margin:0;
	padding:0;
}

body {
	background-color: #FF4500;
}

* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	font-size: 18px;
	outline: none;
	color:white;
}

#divallcontent {
	width: 500px;
	margin: 0 auto;
	text-align:center;
}

.blackText {
	color: black;
}

.formContainer {
		width: 500px;
		clear: both;
}
.formContainer input {
		width: 100%;
		clear: both;
}
.formContainer label {
		text-align: left;
}

.formtxt {
	color:black;
}

#signupDiv {
	background-color: #0d98ba;
	height:70px
}

#createacctp {
	position: relative;
	top: 30%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	font-size: 24px;
	text-decoration: none;
}

textarea {
	border: 1px;
	background: black;
	padding: 20px 0px;
	outline: none;
	width: 100%;
	resize: none;
}

button {
	background-color: Transparent;
	color: #fff;
	position: relative;
	line-height: 38px;
	outline-style: none;
	margin: 0 auto;
	display: inline-block;
	border: none;
	outline:none;
	cursor:pointer;
}
input{
	margin: 0 auto;
}
#spotsHeader {
	font-size:32pt;
}
